@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pageButton  {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: clamp(14px, 1.5vw, 16px);
  text-align: center;
}

.pageButton:hover {
  background-color: #F3F3F3;
}

.activePage {
  background-color: #F3F3F3;
}